@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    /* background: url(../../assets/fondo7.jpg); */
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center; 
  }
  .spinner{
    
    -webkit-animation: rotate-center 0.5s ease-in-out both;
	        animation: rotate-center 0.5s ease-in-out both;
    margin-top: 20px;
    height: 30%;
  }