<body>
        <form action="datos"  class="form-container">
          <div class="container-input">
            <div class="input">
              <input (click)="limpiar()" type="email" name="user" [(ngModel)]="email" id="name"  placeholder="ingrese email" >
            </div>
            
        
            <div class="input">
              <input (click)="limpiar()" type="password" id="pass" [(ngModel)]="clave" name="clave" placeholder="ingrese contraseña">
            </div>
            
          </div>
          <div class="container-buttons">
            <button (click)="login()" class="btn-outline-primary"> enviar datos </button>

            <div class="dataError">
              <h2 *ngIf="error">{{error}}</h2>
            </div>
            <span class="container-relleno">
              <img class="btnRellenar" src="../../assets/rellenar.png" width="20px" alt="send message" (click)="rellenarUsuario(0)">
              <img class="btnRellenar" src="../../assets/rellenar.png" width="20px" alt="send message" (click)="rellenarUsuario(1)">
            </span>
          </div>                    
        </form> 
         
</body>

