<body>
        <form action="datos"  class="form-container">
          <div class="input">
            <input type="email" name="user" [(ngModel)]="email" id="name"  placeholder="ingrese email" >
          </div>
          <br><br>
      
          <div class="input">
            <input type="password" id="pass" [(ngModel)]="clave" name="clave" placeholder="ingrese contraseña">
          </div>
          <br><br>
            <button (click)="login()" class="btn-outline-primary"> enviar datos </button>
            <div class="dataError">
              <h2 *ngIf="error">{{error}}</h2>
            </div>
            
            <br><br>
            <button  (click)="rellenarUsuario()" class="btn-outline-primary relleno"> RELLENAR </button> 
        </form> 
         
</body>

