<body>
    <div class="container" >
        <!-- <h2>Acerca de mí</h2> -->
        <div class="foto-container">
            <img [src]="imagen" alt="imagen">
        </div>
        <div class="datos-container">
            <h3>Hola! Soy  Belen</h3>
            <br>
            <div class="textos">
                <h3>Intereses: </h3>
                <br>
                <ul>
                  <li>Series y Peliculas de SCfi</li>
                  <li>Anime</li>
                  <li>Variados estilos de música</li>
                  <li>Videojuegos</li>
                  <li>Juegos de mesa en familia</li>
                </ul>
              </div>
              <br>
              <div class="textos">
                <h3>Aspiraciones: </h3>
                <br>
                <p>Actualmente estoy estudiando para convertirme en desarrolladora. Disfruto programar, especialmente en el lado del backend. Me emociona la posibilidad de crear soluciones innovadoras y contribuir al mundo de la tecnología.</p>
              </div>
              <br>
              <div class="textos">
                <h3>Juego propio: </h3>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci voluptatum vel soluta molestias aperiam, atque et fugit animi, doloremque quam recusandae distinctio dolore facere qui quidem ducimus placeat numquam dolorem.</p>
              </div>
              
        </div>
    </div>
  </body>
