<body>
    <div class="container" >
        <!-- <h2>Acerca de mí</h2> -->
        <div class="foto-container">
            <img [src]="imagen" alt="imagen">
        </div>
        <div class="datos-container">
            <h3>Hola! Soy  Belen</h3>
            <br>
            <div class="textos">
                <h3>Intereses: </h3>
                <br>
                <ul>
                  <li>Series y Peliculas de SCfi</li>
                  <li>Anime</li>
                  <li>Variados estilos de música</li>
                  <li>Videojuegos</li>
                  <li>Juegos de mesa en familia</li>
                </ul>
              </div>
              <br>
              <div class="textos">
                <h3>Aspiraciones: </h3>
                <br>
                <p>Actualmente estoy estudiando para convertirme en desarrolladora. Disfruto programar, especialmente en el lado del backend. Me emociona la posibilidad de crear soluciones innovadoras y contribuir al mundo de la tecnología.</p>
              </div>
              <br>
              <div class="textos">
                <h3>Atrapa el punto: </h3>
                <br>
                <p>Atrapa el punto es un juego simple y adictivo donde el objetivo principal es atrapar un punto que aparece aleatoriamente en la pantalla antes de que desaparezca o cambie de lugar. A medida que el jugador avanza, la velocidad del punto aumenta, lo que incrementa el desafío. Desarrollado en Angular, el juego combina interactividad y velocidad de reacción, ideal para mejorar los reflejos y la coordinación ojo-mano. Es fácil de jugar, pero con una dificultad progresiva que mantiene al jugador enganchado mientras busca obtener la mayor puntuación posible.</p>
              </div>
              
        </div>
    </div>
  </body>
