<header>
  <a href="#"><div class="logo"><h1>NIVEL X</h1></div></a>
  <nav>
      <ul class="nav-container">
          <li><a class="navbar-brand" routerLink="home" routerLinkActive="active-route">INICIO</a></li>
          <li><a class="navbar-brand" routerLink="login" routerLinkActive="active-route">INICIA SESION</a></li>
          <li><a class="navbar-brand" routerLink="registro" routerLinkActive="active-route">REGISTRATE</a></li>
          <li><a class="navbar-brand" routerLink="quienSoy" routerLinkActive="active-route">ACERCA DE MI</a></li>
      </ul>
  </nav>
</header>


<footer>
  <div class="footer-container">
      <p class="copy">Paiz Belen 2024 &copy;</p>
  </div>
</footer>
<router-outlet />