<body>
    <div class="container">
        <input type="file" (change)="uploadImage($event)">
    </div>
    <!-- <div class="container">
        <input type="file" (change)="uploadFont($event)">
    </div> -->
    <!-- <div>
        <input type="file" (change)="subirMp3($event)">
    </div> -->
    <!-- <div class="images">
        <img   *ngFor="let img of imagenes" alt="" width="200" name="imagen" [src]="img">
    </div> -->
    <!-- <div>
        <img *ngIf="imagen" [src]="imagen" alt="Imagen Específica de Firebase" />
    </div> -->
</body>
