* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Poppins-light';
}
body{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh; 
    width: 100 vw;
    background: url(../../assets/fondo7.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center; 
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 40vw;
    flex-direction: column; 
    padding-top: 5vh;
    padding-bottom: 5vh;
    background: rgba(0,0,0,0.8);
    color: white;
}