* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Poppins-light';
}

  body {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 100vh; 
    width: 100vw;
    background: url(../../assets/fondo7.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center; 
}
.contenedor-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 60vw;
    flex-direction: column; 
    background: url(../../assets/fondo_db.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center; 
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: 60vw;
    flex-direction: column; 
    padding-top: 2vh;
    padding-bottom: 2vh;
    position: relative;
    
}
.info{
    background: rgb(153, 51, 204);
    height: 70vh;
    width: 60vw;
}
.vidas-container{
    display: flex;
    flex-direction: row; 
    width: 3%;
    height: 10%;
    background: rgb(153, 51, 204);
    position: absolute;
    top: 0;
    left: 5%;
    padding: 5px;
}
.vida{
    width: auto;
    max-height: 100%;
}
.card {
    width: 15rem;
    overflow: hidden;
  }
.card-img-top {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    object-fit: contain;
  }
  .button-container{
    position: absolute;
    bottom: 85px;
    }
  .btn-outline-primary{
    --bs-btn-font-weight: 600;
    background: #000;
    margin: 5px;
    width: 150px;
    text-transform: uppercase;
    font-size: large;
}
.btn-outline-primary:hover{
    background:  #5d2f82;
}
.container-1{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 5vh;
    width: 60vw;
    flex-direction: column; 
    padding-top: 2vh;
    /* background: blueviolet; */
    
}
.container-2{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 20vh;
    width: 60vw;
    flex-direction: row; 
    padding-top: 2vh;
    /* background: blueviolet; */
    
}
p{
    text-align: center;
}
.puntos2{
    position: fixed;
    align-self:flex-start;
    left: 25%;
    top: 70%;
    background: #9c88ad;
    text-align: center;
    width: 7%;
}
.elegir{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: row; 
    margin-bottom: 5px;
}
.opciones{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100%;
    width: 40%;
    flex-direction: column; 
}
.opc{
    height:150px;
    width: 200px;
}
.gano-container{
    flex-direction: column; 
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.finalJuego{
    display: flex;
    background: rgb(153, 51, 204);
    height: 70vh;
    width: 50vw;
}
.ocultarJuego{
    display: none;
}
.correcto{
    display: flex;
}
.incorrecto{
    display: flex;
}
.new-game-button{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.perdi_vida{
    max-height: 35%;
    width: auto;
}
.info_desc{
    width: 70%;
    margin: 25px;
}



@media (max-width: 665px){
    .container{
        height: 45%;
        width: 95vw;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container-1{
        height: 5vh;
        width: 95vw;
        padding-top: 3px;
        text-align: center;
        font-size: small;
    }
    .container-2{
        height: 25vh;
        width: 95vw;
        padding-top: 5px;
    }
    .btn-outline-primary{
        --bs-btn-font-weight: 400;
        margin: 3px;
        width: 150px;
    }
    .puntos2{
        left: 5%;
        top: 70%;
        width: 20%;
    }
    .button-container{
        position: absolute;
        bottom: 75px;
        bottom: 60px;
    }
    .contenedor-principal {
        width: auto;
        max-height: 70vh;
        background-size: cover; 
        background-position: right center;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 10px;
        overflow-y: auto;
        margin-top: 20px;
      }
    .contenedor-principal{
        height: 90%;
        width: 100%;
    }
    .elegir{
        width: 90%;
        height: 100%;
        justify-content: end;
    }
    
    .opciones{
        height: 80%;
        width: 20%;
        margin: 30px;
        
    }
    .opc{
        height:75px;
        width: 120px;
        padding: 2px;
    }
    .vidas-container{
        height: 15%;
        top: -14%;
    }
    .info{
        height: 90%;
        width: 100%;
    }
    .perdi_vida{
        max-height: 20%;
        width: auto;
    }
    .info_desc{
        width: 95%;
        margin: 10px;
        font-size: small;
    }
    
}