<body>  
    <div class="contenedor-principal" [ngClass]="{'ocultarJuego': ocultarJuego}" *ngIf="this.personajeElegido">
      
        <div class="container" >
          <div class="vidas-container">
            <img class="vida" *ngFor="let vida of vidas" [src]="vida" alt="vida">
          </div>
            <div class="card" style="width: 15rem;">
              <img class="card-img-top carta-activa" [src]="personajeElegido.image" alt="Card image cap">
            </div>
          </div>
          <div class="container-1">
            <div class="texto1">
                <p><strong>¿QUIEN ES ESTE PERSONAJE?</strong></p>
            </div>   
          </div>
          <div class="container-2">
            <div class="puntos2" *ngIf="!this.loader.getLoader()">
              <p>PUNTOS:</p>
              <P>{{contadorPuntos}}</P>
            </div>
            <div class="elegir">
              <div class="opciones">
                <button type="button" class="btn btn-outline-primary opc" (click)="obtenerElegido(opcion[0])">{{opcion[0]}}</button>
                <button type="button" class="btn btn-outline-primary opc" (click)="obtenerElegido(opcion[1])">{{opcion[1]}}</button>
              </div>  
              <div class="opciones">
                <button type="button" class="btn btn-outline-primary opc" (click)="obtenerElegido(opcion[2])">{{opcion[2]}}</button>
                <button type="button" class="btn btn-outline-primary opc" (click)="obtenerElegido(opcion[3])">{{opcion[3]}}</button>
              </div>  
            </div>
            
          </div>
    </div>

    <div class="container gano-container" [ngClass]="{'correcto': correcto}"> 
      <img class="" src="../../assets/correcto.png" alt="correcto">
    </div>  
    <div class="container gano-container info" [ngClass]="{'incorrecto': incorrecto}"> 
      <img class="perdi_vida" src="../../assets/vida_rota.png" alt="incorrecto">
      <p class="info_desc">{{descripcion}}</p>
      <div class="new-game-container">
        <button class=" btn btn-primary new-game-button" (click)="continuar()">CONTINUAR</button>
    </div>
    </div>  

      <div class="container gano-container" [ngClass]="{'finalJuego': finalJuego}"> 
        <div class="text-container">
            <h1 class="display-1">HICISTE <br> {{contadorPuntos}} <br> PUNTOS</h1>
        </div>
        <div class="new-game-container">
            <button class=" btn btn-primary new-game-button" (click)="EmpezarJuego()">NUEVA PARTIDA</button>
        </div>
      </div>
    <div class="button-container" >
        <button class="btn btn-outline-primary" (click)="salirJuego()" >SALIR</button> 
      </div>
      
  </body>