* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100vh; 
    padding: 5%;
    background: url(../../assets/fondo7.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center; 
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    height: 90vh; 
    padding: 5%;
    width: 90vw;
}
.card {
    width: 40%; 
    height: 25%;
    overflow: hidden;
    margin: 5px;
  }
.btnEnviar{
    width: 100%;
    height: 100%;
    padding: 5px;
}

@media (max-width: 665px){
    .container{
        flex-direction: column;
        flex-wrap: nowrap;
        width: 95vw;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 15%;
    }
    .card {
        height: 10%;
        width: 80%;
      }
}