<body>
  <div class="container">
    <div class="card"  (click)="irChat()">
      <img class="btnEnviar" src="../../assets/chat.jpg"  alt="send message">
    </div>
    <div class="card"  (click)="irAhorcado()">
      <img class="btnEnviar" src="../../assets/ahorcado.jpg"  alt="send message">
    </div>
    <div class="card"  (click)="irmayor_menor()">
      <img class="btnEnviar" src="../../assets/meyor-menor.jpg"  alt="send message">
    </div>
    <div class="card"  (click)="irDragon_triviar()">
      <img class="btnEnviar" src="../../assets/trivia1.jpg"  alt="send message">
    </div>
  </div>
</body>
