<body>
    <div class="button-container" >
      <button class="btn btn-outline-primary"routerLink="/login" routerLinkActive="active-route" >INICIA SESION</button>
      <button class="btn btn-outline-primary"  routerLink="/registro" routerLinkActive="active-route" >REGISTRATE</button>
      <button class="btn btn-outline-primary" routerLink="/quienSoy" routerLinkActive="active-route"  >ACERCA DE MI</button>
    </div>
    <div class="audio-container" >
    <audio controls  src="../../assets/audio/Nivel X theme song Ful.mp3" type="audio/mp3">Tu navegador no soporta el audio</audio>
    </div>
  </body>
